.endScreen{
    position: absolute;
    width: 100%;
    min-height: 100vh;
    max-height: inherit;
    z-index: 1;
    background-color: rgba(168, 168, 168, 0.79);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 0;
}

.endScreen h3{
    margin-top: 1em;
    font-size: 1.4rem;
}

.endScreen button{
    margin-top: 1em;
    font-size: 1.2rem;
    border-radius: 1em;
    width: fit-content;
    background-color: rgba(0, 0, 0, 0.391);
    color: #f0f0f0fb;
    padding: 0.8em 0.8em;
    border: 1px solid black;
    opacity: 1;
    font-weight: 600;
    cursor: pointer;
    transition: opacity 0.5s;
}

.endScreen button:active{
    transform: translateY(2px);
}

.endScreen a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    margin-top: 1.5em;
}

.endScreen a:hover{
    opacity: 0.7;
}

.endScreen img{
    width: 24px;
    margin-right: 0.5em;
}

@media screen and (max-width:500px) {
    .endScreen h3{
    margin-top: 1em;
    font-size: 0.8rem;
}
.endScreen button{
    font-size: 0.7rem;
}
.endScreen h1{
    font-size: 1rem;
}
}