header{
    padding: 1em;
    padding-top: 0;
    text-align: center;
    margin: auto;
}

.header-title{
    font-size: 1.5rem;
    line-height: 1.5em;
}

.header-desc{
    margin-top: 1em;
    font-size: 0.8rem;
    line-height: 1.5em;
}

@media screen and (max-width:500px) {
    .header-title{
    font-size: 1.5rem;
}
.header-desc{
    font-size: 0.8rem;
}
}
